@import "./colors.scss";
@import "./mixins.scss";

window {
  background: transparent;

  window#window-closer {
    border: 2px solid red;
  }
}

label {
  font-family: "system-ui";
  font-size: 16px;
  // font-weight: bold;
  color: $color_light;
}

button {
  all: unset;
}

.icon {
  @include icon;
}

.monospace {
  font-family: "monospace";
}

@import "../src/modules/bar/index.scss";
@import "../src/modules/app-launcher/index.scss";
@import "../src/modules/notifications/index.scss";
@import "../src/modules/power-menu/index.scss";
@import "../src/modules/osd/index.scss";

#toto {
  border: 1px solid $color_purple;
  padding: 10px;

  label {
    border: 1px solid $color_orange;
  }
}
