$accent: $color_lime;
$bg_color: $bg_normal;
$fg_color: $fg_normal;
$radius: 8px;

#notification-center {
  .notifications {
    min-width: 600px;
    min-height: 600px;
    padding: 1.5rem;

    border: 2px solid $accent;
    border-radius: $radius;
    background-color: $bg_color;
    color: $fg_color;

    .header {
      // padding-top: 1.5rem;
      padding-bottom: 1rem;
      // padding-left: 1.5rem;
      // padding-right: 1.5rem;

      margin-bottom: 1rem;
      // border-bottom: 1px solid red;

      .dnd:checked {
        background-color: $accent;
      }

      .clear-button {
        padding: 4px 8px;
        border-radius: $radius;

        &:hover {
          background-color: $color_light_gray;

          &,
          label {
            color: $color_dark;
          }
        }
      }
    }

    .notifications-scrollable {
      @include scrollbar;
    }

    .empty-list {
      image {
        font-size: 7em;
      }
      label {
        font-size: 2em;
      }
    }

    .notification {
      border-radius: $radius;
      border: 1px solid $color_gray;
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 0.5rem;

      widget:hover {
        button.close-button {
          background-color: transparentize($color_red, 0.5);
        }
      }

      &.critical {
        border: 1px solid $color_red;
        box-shadow: inset 0 0 0.5rem 0 $color_red;
      }

      .content {
        .title {
          margin-right: 8px;
          font-weight: bold;
        }

        .time {
          color: $color_gray;
        }

        .description {
          color: $color_light_gray;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }

        .image {
          border-radius: $radius * 0.8;
          margin-right: 8px;

          min-width: 78px;
          min-height: 78px;

          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        button.close-button {
          border-radius: $radius * 0.8;
          font-size: 1.5rem;

          &:hover {
            // background-color: transparentize($color_red, 0.5);
            background-color: $color_red;
          }

          // &:active {
          //   background-color: $color_red;
          // }
        }
      }

      .actions {
        button {
          margin: 8px;
          padding: 8px;
          border-radius: $radius;
          background-color: darken($color_gray, 20%);

          &:hover {
            background-color: $color_light_gray;

            &,
            label {
              color: $color_dark;
            }
          }
        }
      }
    }
  }
}
