$color_red: #cf3746;
$color_orange: #df7c2c;
$color_yellow: #ecbd10;
$color_lime: #7cbd27;
$color_green: #41a36f;
$color_sky: #32b5c7;
$color_blue: #277ab6;
$color_purple: #ad4ed2;
$color_white: #ffffff;

$color_dark: #292a2b;
$color_darker: #1d1d1d;
$color_gray: #626861;
$color_light: #d8e2e1;
$color_light_gray: #aeb7b6;

$bg_normal: #171a1f;
$bg_normal_transparent: transparentize($bg_normal, 1-0.85);
$fg_normal: $color_light;
