#app-launcher {
  .app-launcher {
    background-color: $bg_normal;

    border: 2px solid $color_lime;
    border-radius: 8px;

    padding: 10px;

    .search {
      margin: 10px;

      entry {
        padding: 4px;
        padding-left: 8px;
      }

      .icon {
        margin-right: 8px;
        font-size: 24px;
      }
    }

    scrolledwindow {
      padding-top: 8px;
      min-width: 400px;
      min-height: 400px;
    }

    .app {
      all: unset;
      margin: 5px 0;

      image {
        margin-right: 8px;
      }

      .description {
        font-size: 14px;
        color: transparentize($fg_normal, 0.3);
      }

      &:hover,
      &:focus {
        .title {
          color: $color_light;
        }
      }

      &:active,
      &:focus {
        border-radius: 8px;
        background-color: transparentize($color_light, 0.5);

        .title {
          color: $bg_normal;
        }
        .description {
          color: lighten($bg_normal, 20%);
        }
      }
    }
  }
}
