@mixin module {
  padding: 6px 12px;
  // border-radius: 16px;
  border-radius: 8px;
  border: 1px solid $color_gray;
  background-color: $bg_normal_transparent;
}

.bar {
  background-color: transparent;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;

  .module {
    @include module;

    & > .icon {
      color: $color_yellow;
    }
  }

  #module-date,
  #module-time {
    font-weight: bold;
    font-size: 1.2rem;
  }

  // #module-date,
  // #module-time {
  //   border: 1px solid yellow;
  //   .icon {
  //     border: 1px solid red;
  //   }
  //   label {
  //     border: 1px solid cyan;
  //   }
  // }

  .workspaces {
    @include module;

    .workspace {
      .indicator {
        @include icon(Solid);
        color: $color_gray;
        font-size: 1.5rem;
      }

      &.active .indicator {
        color: $color_yellow;
      }

      &.occupied:not(.active) .indicator {
        color: $color_sky;
      }
    }
  }

  .systray {
    @include module;
    font-size: 20px;
  }

  .system-info {
    @include module;

    & > .normal {
      .icon {
        color: $color_lime;
      }
      .text {
        color: $color_light;
      }
    }

    & > .warning {
      .icon {
        color: $color_orange;
      }
      .text {
        color: $color_orange;
      }
    }

    & > .critical {
      color: $color_red;
      background-color: $color_red;
    }
  }

  .audio {
    @include module;

    .microphone {
      .icon {
        color: $color_yellow;

        &.muted {
          color: $color_red;
        }
      }
    }

    .volume {
      &.muted {
        .icon,
        .text {
          color: $color_red;
        }
      }

      .icon {
        color: $color_yellow;
      }
    }
  }

  .mpris {
    @include module;

    padding-top: 0;
    padding-bottom: 0;

    .artist {
      font-weight: bold;
    }
    .title {
      font-weight: normal;
    }

    .previous,
    .next,
    .play-pause {
      &:hover {
        color: $color_yellow;
      }
    }
  }

  #notification-indicator {
    @include module;

    &.full {
      border: 2px solid $color_yellow;

      .icon {
        color: $color_yellow;
        @include icon(Solid);
      }
    }

    .summary {
      margin-left: 8px;
    }

    .app-icon {
      font-size: 20px;
    }

    .icon {
      @include icon(Regular);
    }
  }

  #screenrecord {
    &.recording {
      @include module;

      background-color: $color_red;
      color: $color_light;
      border: 2px solid $color_light;

      .icon {
        @include icon(Solid);
        color: $color_light;
      }
    }

    &.selecting {
      @include module;
      border: 2px solid $color_orange;

      .icon {
        @include icon(Solid);
        color: $color_orange;
      }
    }
  }

  #screenshot {
    @include module;

    border: 2px solid $color_orange;

    .icon {
      @include icon(Solid);
      color: $color_orange;
    }
  }
}
