.osd {
  $radius: 8px;
  $padding: 4px;

  border-radius: $radius;

  .progress {
    border: 2px solid $color_sky;
    background-color: $bg_normal;
    border-radius: 8px;

    padding: 4px;

    .progress-bar {
      background-color: $color_sky;
      color: $bg_normal;
      border-radius: $radius - $padding;
    }

    .icon {
      font-size: 34px;
      // padding-bottom: 8px;
      color: $bg_normal;
    }

    &.vertical {
      .icon {
        padding-bottom: 12px;
      }
    }
    &.horizontal {
      .icon {
        padding-left: 12px;
      }
    }

    &.muted {
      .progress-bar {
        background-color: $color_red;
      }
    }
  }
}
